<!doctype html>
<html>
  <head>
    <title>Music Albums Search</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body class="w3-light-blue">
  <header class="w3-container w3-blue">
    <h1 >Search for Music Albums</h1>
  </header>
  </br>
    <form class="w3-padding" action="/" method="post">
      <label for="artist">Artist Name:</label>
      <input class="w3-yellow" type="text" name="artist" required>
      <button type="submit">Search</button>
    </form>
  </body>
</html>